.skills__tituloP{
    position: absolute;
    transform: translateY(-20px);
    color:var(--texto_color)
}


@media screen and (min-width:1024px){
    .skills__tituloP{
        font-size: 2.5rem;
    }
}