@import '../animaciones.css';

.hero__imagen{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
    animation: slide-in-left 3.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@media screen and (min-width: 1024px) {
    .hero__imagen{
        width: 300px;
        height: 300px;
        margin-bottom: 2rem;
        
    }
}

