@import '../animaciones.css';
.hero__items{
    margin: 0 .2rem;
    box-sizing: border-box;
    display: flex;
    font-weight: bold;
    align-items: center;
    transition: all .2s ease-in-out;
}

.hero__items:hover{
    animation: jello-horizontal 0.9s both;
}

@media screen and (min-width:365px) and (max-width:767px){
    .hero__items{
        font-size: 14px;
    }
}




