@import '../animaciones.css';
.hero__link{
    text-decoration: none;
    color:var(--texto_color);
    transition: all .5s ease-in-out;
}

.hero__link:hover{
    animation: brillo 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}

