.experiencia__contenedor{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-sizing: border-box;
    margin: 1rem 0;
    padding: 1rem 0;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    border-radius: 5px;
    box-shadow: 5px 10px 20px #a1a1a1;

}

@media screen and (min-width: 768px) {
    .experiencia__contenedor{
        width: 75vw;
        height: 50vw;
    }
}