.hero{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1.25rem 1.35rem;
    flex-direction: column;
    box-sizing: border-box;
    font-family: var(--fuente);
}

.hero__wave{
    width: 100%;
    position: relative;
}

