.piePagina{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.piePagina__texto{
    margin: 2.5rem 0;
    text-align: center;
    font-size: 1rem;
}