.cabezera__titulo{
        font-family: var(--fuente);
        color: #464646;
        font-weight: 900;
        margin-left: 1rem;
        font-size: medium;
        font-size: 1.25rem;
    }

@media screen and (min-width:365px) and (max-width:767px) {
    
}