.formacion__card{
    width: 80%;
    box-sizing: border-box;
    margin: 1rem 0;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 5px 10px 20px #f6f6f6;
}