.formacion__card{
    width: 80%;
    box-sizing: border-box;
    margin: 1rem 0;
    background: linear-gradient(180deg, rgba(125,255,169,1) 0%, rgba(125,239,255,1) 100%);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 5px 10px 20px #f6f6f673;
}

@media screen and (min-width: 768px) {
    .formacion__card{
        width: 30vw;
        height: calc(30vw + 20px);
        
    }
}